<!-- templates/_base.html -->

{% load compress %}
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock title %} | Destiny</title>

    {% compress css %}
    <link rel="stylesheet" href="{% static 'src/output.css' %}">
    {% endcompress %} 
    <link rel="stylesheet preload prefetch" href="{% static 'assets/FiraCode-Medium.ttf' %}" as="font" type="font/ttf">

</head>

<body class="bg-dest-0 overflow-x-hidden">

    {% include "_nav.html" %}
    
    <div id="main-content" class="mt-4 transition-transform relative">
        {% block content %}
        {% endblock content %}
    </div>

    {% include "_sidebar.html" %}

    <script defer src="{% static 'vendor/flowbite.min.js' %}"></script>
</body>

</html>
