{% load static %}

<nav class="border-b border-dest-border">
    <div class="flex flex-wrap justify-between items-center mx-auto">
        
        <!-- left container -->
        <div class="flex items-center">
            <div class="flex items-center w-64 p-4 border-r border-dest-border">
                <h5 id="drawer-navigation-label" class="text-3xl font-semibold text-white uppercase flex-1 whitespace-nowrap">DESTINY</h5>
                <!-- drawer init and show -->
                <button id="drawer-trigger-btn" class="text-gray-400 bg-transparent hover:bg-dest-nav-hover font-medium rounded-lg text-sm p-1 focus:outline-none hover:text-white" type="button" data-drawer-target="drawer-navigation" data-drawer-show="drawer-navigation" aria-controls="drawer-navigation">
                    <svg aria-hidden="true" class="w-6 h-6 transition duration-75 group-hover:text-white" fill="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M4 18h16c.55 0 1-.45 1-1s-.45-1-1-1H4c-.55 0-1 .45-1 1s.45 1 1 1zm0-5h16c.55 0 1-.45 1-1s-.45-1-1-1H4c-.55 0-1 .45-1 1s.45 1 1 1zM3 7c0 .55.45 1 1 1h16c.55 0 1-.45 1-1s-.45-1-1-1H4c-.55 0-1 .45-1 1z"></path></svg>
                    <span class="sr-only">Open navigation</span>
                </button>
            </div>
            <!-- left content after nav header/menu trigger -->
            <div class="flex items-center p-4">
                <!-- if svg path is defined -->
                {% if svgpath %}
                    <img src="{% static svgpath %}" alt="Destiny Logo" class="w-6 h-6 transition duration-75 group-hover:text-white invert">
                {% endif %}
                <!-- section text e.g. devices -->
                <span class="text-2xl font-semibold text-white ml-2">{{ title }}</span>
            </div>
        </div>

        <!-- end container -->
        <div class="flex items-center p-4">
            <!-- new alert -->
            <span class="text-white">+ New Alert</span>
        </div>
    </div>
</nav>
