<!-- templates/index.html -->
{% extends "_base.html" %}

{% load compress %}
{% load static %}

<!-- title is passed in from views.py -->
{% block title %} {{ title }} {% endblock title %}

{% block content %}

<div>
    <!-- whitelisted devices -->
    <h4 class="text-3xl text-white font-semibold ml-4 mb-2">Whitelisted Devices</h4>
    <!-- tba gray text -->
    <p class="text-md text-white ml-4 mb-4 opacity-60">TBA</p>

    <div id="w-devices-container" class="flex scroll-x"></div>

    <!-- flagged devices -->
    <h4 class="text-3xl text-white font-semibold ml-4 mb-2 mt-4">Flagged Devices</h4>
    <!-- tba gray text -->
    <p class="text-md text-white ml-4 mb-4 opacity-60">TBA</p>

    <div id="f-devices-container" class="flex scroll-x"></div>

    <!-- all devices -->
    <h4 class="text-3xl text-white font-semibold ml-4 mb-2 mt-4">All Devices</h4>
    <!-- tba gray text -->
    <p class="text-md text-white ml-4 mb-4 opacity-60">TBA</p>

    <div id="a-devices-container" class="flex ml-4">
        <div class="rounded-lg bg-dest-10 border-2 border-dest-form-border px-2 py-1 text-md font-firacode text-white mb-2 bg-dest-20">
            TBA
        </div>
    </div>

    <!-- current device container -->
    <div id="current-device-container" class="absolute top-0 left-0 hidden">
        <div class="rounded-lg bg-dest-10 border-2 border-dest-form-border p-4 mx-4 mb-4 z-50 relative">
            <div class="flex flex-col flex-start content-start p-4 pb-2">
                <!-- top row -->
                <div class="flex items-center flex-wrap">
                    <div class="flex items-center mr-3">
                        <!-- status indicator circle with drop shadow -->
                        <div id="current-device-status" class="w-3 h-3 rounded-full mr-2 bg-dest-success status-success"></div>
                        <!-- status text -->
                        <p class="text-2xl font-semibold text-white ml-1" id="current-device-title"></p>
                    </div>
                    <!-- add or remove btn -->
                    <button class="border-2 border-dest-danger text-white text-xl font-normal rounded-xl px-8 m-0 hover:bg-dest-danger hover:border-dest-danger hover:text-white focus:outline-none focus:ring-2 focus:ring-dest-danger focus:ring-opacity-75 leading-tight">
                        <span class="opacity-80">Remove</span>
                    </button>
                </div>
                <!-- tags -->
                <p class="text-lg text-white opacity-80 font-semibold mt-2">Tags for this device</p>
                <div class="flex items-center flex-wrap mt-2" id="current-device-tags"></div>
                <!-- seen info -->
                <div class="flex flex-start content-start mt-2 flex-wrap">
                    <!-- last seen -->
                    <div class="flex flex-col flex-start text-lg text-white mr-2">
                        <p class="opacity-80 font-semibold">Last seen</p>
                        <p class="opacity-60" id="current-device-last-seen-r">2s ago</p>
                        <p class="opacity-60" id="current-device-last-seen-t">2023-01-01 12:00:06</p>
                    </div>
                    <!-- first seen -->
                    <div class="flex flex-col flex-start text-lg text-white mr-2">
                        <p class="opacity-80 font-semibold">First seen</p>
                        <p class="opacity-60" id="current-device-first-seen-r">8s ago</p>
                        <p class="opacity-60" id="current-device-first-seen-t">2023-01-01 12:00:00</p>
                    </div>
                    <!-- times seen -->
                    <div class="flex flex-col flex-start text-lg text-white">
                        <p class="opacity-80 font-semibold">Times seen</p>
                        <p class="opacity-60" id="current-device-times-seen">17</p>
                    </div>
                </div>
                <!-- location data -->
                <div class="flex flex-col flex-start content-start mt-2">
                    <p class="text-lg text-white opacity-80 font-semibold">Location data</p>
                    <!-- map container -->
                    <div class="h-72 w-full my-2">
                        <!-- open street map embed -->
                        <div class="h-72 w-full" id="current-device-map"></div>
                    </div>
                </div>
                <!-- logs -->
                <div class="flex flex-col flex-start content-start">
                    <p class="text-lg text-white opacity-80 font-semibold">Logs</p>
                    <div class="flex flex-col flex-start content-start mt-2" id="current-device-logs"></div>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- card script -->
<script src="{% static 'src/card.js' %}"></script>
<!-- maps -->
<script src="{% static 'vendor/leaflet.min.js' %}" defer></script>
<script src="{% static 'src/map.js' %}" defer></script>
<!-- css -->
<link rel="stylesheet" href="{% static 'vendor/leaflet.css' %}">
{% endblock content %}