<!-- templates/index.html -->
{% extends "_base.html" %}

{% load compress %}
{% load static %}

<!-- title is passed in from views.py -->
{% block title %} {{ title }} {% endblock title %}

{% block content %}

<div class="mx-4">

    <h1 class="text-3xl text-white font-semibold">Destiny Dashboard</h1>
    <div class="flex flex-wrap mt-4">
        <div class="flex flex-col items-center justify-center p-4 bg-dest-card rounded-md border-2 border-dest-danger w-40 h-36 stat-blend-danger mr-4 mb-4">
            <h3 class="mb-1 text-3xl font-semibold text-white" id="total-devices">2</h3>
            <h4 class="mb-1 text-md font-semibold text-white text-center">Flagged Devices</h4>
        </div>
        <div class="flex flex-col items-center justify-center p-4 bg-dest-card rounded-md border-2 border-dest-success w-40 h-36 stat-blend-success mr-4 mb-4">
            <h3 class="mb-1 text-3xl font-semibold text-white" id="total-devices">0</h3>
            <h4 class="mb-1 text-md font-semibold text-white text-center">Stat</h4>
        </div>
        <div class="flex flex-col items-center justify-center p-4 bg-dest-card rounded-md border-2 border-dest-warning w-40 h-36 stat-blend-warning mr-4 mb-4">
            <h3 class="mb-1 text-3xl font-semibold text-white" id="total-devices">0</h3>
            <h4 class="mb-1 text-md font-semibold text-white text-center">Stat</h4>
        </div>
        <div class="flex flex-col items-center justify-center p-4 bg-dest-card rounded-md border-2 border-dest-warning w-40 h-36 stat-blend-warning mr-4 mb-4">
            <h3 class="mb-1 text-3xl font-semibold text-white" id="total-devices">0</h3>
            <h4 class="mb-1 text-md font-semibold text-white text-center">Stat</h4>
        </div>
    </div>




</div>

{% endblock content %}