<!-- templates/index.html -->
{% extends "_base.html" %}

{% load compress %}
{% load static %}

<!-- title is passed in from views.py -->
{% block title %} {{ title }} {% endblock title %}

{% block content %}

<div class="mx-4">

    <!-- location data -->
    <div class="flex flex-col flex-start content-start mt-2">
        <p class="text-lg text-white opacity-80 font-semibold">Location data
            <span id="full-location-data-points"></span>
        </p>
        <!-- map container -->
        <div class="h-[calc(100vh-10rem)] w-full my-2">
            <!-- open street map embed -->
            <div class="h-full w-full" id="full-map"></div>
        </div>
    </div>

</div>

<!-- card script -->
<script src="{% static 'src/card.js' %}"></script>
<!-- maps -->
<script src="{% static 'vendor/leaflet.min.js' %}" defer></script>
<script src="{% static 'src/map.js' %}" defer></script>
<!-- css -->
<link rel="stylesheet" defer href="{% static 'vendor/leaflet.css' %}">
{% endblock content %}