<!-- templates/index.html -->
{% extends "_base.html" %}

{% load compress %}
{% load static %}

<!-- title is passed in from views.py -->
{% block title %} {{ title }} {% endblock title %}

{% block content %}

<div class="mx-4">

    <h1 class="text-3xl text-white font-semibold">Title</h1>

    <x-placeholder>
        <div class="px-4 py-4 sm:px-0" style="height: 36rem">
          <div class="relative h-full overflow-hidden rounded-xl border border-dashed border-gray-400 opacity-75">
            <svg class="absolute inset-0 h-full w-full stroke-gray-400/40" fill="none">
              <defs>
                <pattern id="pattern-placeholder" x="0" y="0" width="10" height="10" patternUnits="userSpaceOnUse">
                  <path d="M-3 13 15-5M-5 5l18-18M-1 21 17 3"></path>
                </pattern>
              </defs>
              <rect stroke="none" fill="url(#pattern-placeholder)" width="100%" height="100%"></rect>
            </svg>
          </div>
        </div>
      </x-placeholder>

</div>

{% endblock content %}
